GeolocationAds/obj/*
GeolocationAdsAPI/obj/*
ToolsLibrary/obj/*

GeolocationAds/bin/*
GeolocationAdsAPI/bin/*
ToolsLibrary/bin/*
GeolocationAds/GeolocationAds.csproj.SdkResolver.744035767.proj.Backup.tmp
GeolocationAds/GeolocationAds.csproj.SdkResolver.1571714724.proj.Backup.tmp
GeolocationAds/GeolocationAds.csproj.user
GeolocationAds/obj/GeolocationAds.csproj.nuget.dgspec.json
GeolocationAds/obj/GeolocationAds.csproj.nuget.g.props
GeolocationAds/obj/GeolocationAds.csproj.nuget.g.targets
GeolocationAds/obj/project.assets.json
GeolocationAds/obj/project.nuget.cache
GeolocationAds/obj/Debug/net8.0-android34.0/GeolocationAds.AssemblyInfo.cs
GeolocationAds/obj/Debug/net8.0-android34.0/GeolocationAds.AssemblyInfoInputs.cache
GeolocationAds/obj/Debug/net8.0-android34.0/GeolocationAds.assets.cache
GeolocationAds/obj/Debug/net8.0-android34.0/GeolocationAds.csproj.AssemblyReference.cache
GeolocationAds/obj/Debug/net8.0-android34.0/GeolocationAds.GeneratedMSBuildEditorConfig.editorconfig
GeolocationAdsAPI/appsettings.Development.json
GeolocationAdsAPI/GeolocationAdsAPI.csproj
GeolocationAdsAPI/obj/GeolocationAdsAPI.csproj.nuget.dgspec.json
GeolocationAdsAPI/obj/GeolocationAdsAPI.csproj.nuget.g.props
GeolocationAdsAPI/obj/GeolocationAdsAPI.csproj.nuget.g.targets
GeolocationAdsAPI/obj/project.assets.json
GeolocationAdsAPI/obj/project.nuget.cache
GeolocationAdsAPI/obj/Debug/net8.0/GeolocationAdsAPI.AssemblyInfo.cs
GeolocationAdsAPI/obj/Debug/net8.0/GeolocationAdsAPI.AssemblyInfoInputs.cache
GeolocationAdsAPI/obj/Debug/net8.0/GeolocationAdsAPI.csproj.AssemblyReference.cache
GeolocationAdsAPI/obj/Debug/net8.0/GeolocationAdsAPI.GeneratedMSBuildEditorConfig.editorconfig
ToolsLibrary/ToolsLibrary.csproj.SdkResolver.-1900127282.proj.Backup.tmp
ToolsLibrary/ToolsLibrary.csproj.SdkResolver.744035767.proj.Backup.tmp
ToolsLibrary/ToolsLibrary.csproj.SdkResolver.1571714724.proj.Backup.tmp
ToolsLibrary/bin/Debug/net8.0/ToolsLibrary.dll
ToolsLibrary/bin/Debug/net8.0/ToolsLibrary.pdb
ToolsLibrary/obj/project.assets.json
ToolsLibrary/obj/project.nuget.cache
ToolsLibrary/obj/ToolsLibrary.csproj.nuget.dgspec.json
ToolsLibrary/obj/ToolsLibrary.csproj.nuget.g.props
ToolsLibrary/obj/ToolsLibrary.csproj.nuget.g.targets
ToolsLibrary/obj/Debug/net8.0/ToolsLibrary.AssemblyInfo.cs
ToolsLibrary/obj/Debug/net8.0/ToolsLibrary.AssemblyInfoInputs.cache
ToolsLibrary/obj/Debug/net8.0/ToolsLibrary.assets.cache
ToolsLibrary/obj/Debug/net8.0/ToolsLibrary.csproj.AssemblyReference.cache
ToolsLibrary/obj/Debug/net8.0/ToolsLibrary.csproj.CoreCompileInputs.cache
ToolsLibrary/obj/Debug/net8.0/ToolsLibrary.csproj.FileListAbsolute.txt
ToolsLibrary/obj/Debug/net8.0/ToolsLibrary.dll
ToolsLibrary/obj/Debug/net8.0/ToolsLibrary.GeneratedMSBuildEditorConfig.editorconfig
ToolsLibrary/obj/Debug/net8.0/ToolsLibrary.pdb
ToolsLibrary/obj/Debug/net8.0/ToolsLibrary.sourcelink.json
ToolsLibrary/obj/Debug/net8.0/ref/ToolsLibrary.dll
ToolsLibrary/obj/Debug/net8.0/refint/ToolsLibrary.dll
ToolsLibrary/obj/Debug/net8.0-android34.0/ToolsLibrary.AssemblyInfo.cs
ToolsLibrary/obj/Debug/net8.0-android34.0/ToolsLibrary.AssemblyInfoInputs.cache
ToolsLibrary/obj/Debug/net8.0-android34.0/ToolsLibrary.assets.cache
ToolsLibrary/obj/Debug/net8.0-android34.0/ToolsLibrary.csproj.AssemblyReference.cache
ToolsLibrary/obj/Debug/net8.0-android34.0/ToolsLibrary.GeneratedMSBuildEditorConfig.editorconfig
ToolsLibrary/obj/Debug/net8.0-ios/ToolsLibrary.AssemblyInfo.cs
ToolsLibrary/obj/Debug/net8.0-ios/ToolsLibrary.AssemblyInfoInputs.cache
ToolsLibrary/obj/Debug/net8.0-ios/ToolsLibrary.assets.cache
ToolsLibrary/obj/Debug/net8.0-ios/ToolsLibrary.csproj.AssemblyReference.cache
ToolsLibrary/obj/Debug/net8.0-ios/ToolsLibrary.GeneratedMSBuildEditorConfig.editorconfig
ToolsLibrary/obj/Debug/net8.0-maccatalyst/ToolsLibrary.AssemblyInfo.cs
ToolsLibrary/obj/Debug/net8.0-maccatalyst/ToolsLibrary.AssemblyInfoInputs.cache
ToolsLibrary/obj/Debug/net8.0-maccatalyst/ToolsLibrary.assets.cache
ToolsLibrary/obj/Debug/net8.0-maccatalyst/ToolsLibrary.csproj.AssemblyReference.cache
ToolsLibrary/obj/Debug/net8.0-maccatalyst/ToolsLibrary.GeneratedMSBuildEditorConfig.editorconfig

**/bin/
**/obj/
*.user
*.pdb
*.cache
*.tmp
*.g.cs
*.g.i.cs
*.editorconfig
*.nuget.*
